.callout {
    background-color: rgba( 255, 255, 255, 0.60 );
    border: none;
    bottom: 0;
    position: absolute;
	top: 0;
    visibility: hidden;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.stage {
    background-image: url( 'stage.jpg' );
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}
